@model IEnumerable<FoodStock.Models.Order>

@{
    ViewBag.Title = "List of Orders";
}

<h2>List of Orders</h2>
<p>
    <ul class="nav navbar-nav navbar-right">
        @using (Html.BeginForm("Index", "Orders", FormMethod.Get))
        {
            @Html.DropDownList("Menu", "All")
            <button type="submit" class="btn btn-success ">Filter</button>
            <!--<input type="submit" value="Filter" />-->
            <input type="hidden" name="Food" id="Food" value="@ViewBag.Food" />
        }
    </ul>
</p>

<p><img src="~/Content/images/order.jpg" alt="Photo by Kampus Production from Pexels" /></p>

<p>
    <ul class="nav navbar-nav navbar-left">
        @using (Html.BeginForm("Index", "Orders", FormMethod.Get, new { @class = "navbar-form navbar-left" }))
        {
            <div class="form-group">
                @Html.TextBox("person", null, new { @class = "form-control", @placeholder = "Search Order by Person" })
            </div>
            <button type="submit" class="btn btn-default ">Submit</button>
        }
    </ul>
    <ul class="nav navbar-nav navbar-static-top navbar-right">
        <button type="submit" class="btn btn-toolbar">@Html.ActionLink("Create New Order", "Create")</button>
    </ul>
</p>

<p>

</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Menu.FoodName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Menu.FoodName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>